*{
    box-sizing: border-box;
}
body{
    background-color: rgb(54, 54, 54)
}
.container{
    background-color: #c4c4c4;
    width: 700px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}
.container__wrap{
    padding: 30px;
    position: relative;
}
.container__wrap input{
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border-radius: 8px;
    /* margin-bottom: 10px; */
}
.list__seguest{
    position: absolute;
    font-size: 1rem;
    padding: 10px;
    width: 91%;
    z-index: 10;
}
.list__seguest div{
    background-color: #e3e3e3;
    font-size: 20px;
    padding: 10px;
    cursor:  pointer;
    border: 1px solid black;
}
.list__seguest div:hover{
    background-color: #65cdf9;
}
.card__list{
    margin-top: 25px;
    font-size: 1rem;
}
.list__text{
    background-color: #e27beb;
    margin-top: 5px;
    border-radius: 8px;
    position: relative;
    
}

.list__text, .list__text div{
    display: block;
    padding: 5px;
    font-size: 20px;
}
.list__text button{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 5px;
    padding: 10px;
    color: #ff0000;
    font-size: 40px;
    background-color: Transparent;
    border: none;
}


@media only screen and (max-width: 767px){
    .container{
        width: 100%;    
    }
    
}